<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC 
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper   namespace="com.oraclejava.alpha.dao.impl.mapper.NoticeMapper">
   
   <insert id="insertNotice"
        parameterType="Notice"
       useGeneratedKeys="true"
       keyProperty="id"
       keyColumn="id">
   
      INSERT  INTO  tb_notice(
              title
           , contents
      )  VALUES(
                #{title}
              , #{contents}
      )
   </insert>
   
   <update id="updateNotice" 
    parameterType="Notice">
     UPDATE  tb_notice  SET
       title  = #{title}
       ,contents  = #{contents}
      WHERE  id = #{id} 
   </update>
   
   <delete id="deleteNotice"  parameterType="long">
     DELETE  FROM  tb_notice
     WHERE  id = #{id}
   </delete>
   
    
   
   
   <select id="selectNotice" 
            parameterType="long"
            resultMap="user-result"
    >
      SELECT
         id
        ,title
        ,contents
        FROM  tb_notice
        WHERE  id = #{id}
   </select>
   
   
   
   
   <resultMap type="Notice"
              id="user-result">
     <id  property="id"   column="id" />
     <result  property="title"  column="title"/>
     <result  property="content"  column="content"/>
   </resultMap>
   
   
     <select id="selectNotices"   resultMap="user-result">
        SELECT  
           id,
           title,
           contents
        FROM   tb_notice
        ORDER  BY  id DESC
     </select>



</mapper>

